<section id="home__menu" class="menu__bar">
  <div class="menu__bar-container">
    <%= controller.view_context.render(
        partial: "decidim/nav/shared/action_panel_links",
        locals: {
          navigable: current_organization
        }
    ) %>
  </div>
</section>
