.active-link {
  @apply underline decoration-2;
}

.active-locale {
  @apply underline decoration-2;
}

.menu-link {
  @apply hover:underline;
}

.menu__bar {
  @apply py-4 bg-white border-y hidden lg:block;
}

.menu__bar-element {
  @apply relative hidden sm:max-lg:hidden lg:inline self-center pl-4;
}

.menu__bar-mobile {
  @apply relative w-full;
}

.menu-element {
  @apply flex items-center gap-0.5 justify-center;
}

.menu-element-mobile {
  @apply flex items-center justify-between w-full h-12 text-3xl pl-4 border-b;
}

.menu-element-caret {
  @apply ml-2 p-px bg-gray-3 rounded border-2 border-gray-3;
}

.menu-element-caret-mobile {
  @apply h-[47px] w-[70px] rounded-none border-l border-black flex items-center justify-center;
}

.caret {
  @apply w-6 h-6 flex-none text-black fill-current bg-gray-3;
}

.mobile-caret {
  @apply w-6 h-6;
}

.menu__bar-container {
  @apply flex flex-row gap-6;
}

.menu__bar-element--link {
  @apply text-black text-lg;
}

.menu__bar-submenu {
  @apply absolute mt-4 hidden min-w-[300px] z-50 bg-white border-t shadow-md left-0;

  .menu__bar-element--link{
    @apply px-px;
  }
}

.menu__bar-submenu-mobile {
  @apply hidden transition-all duration-300 overflow-hidden space-y-2;
}


.submenu-element {
  @apply list-none pl-0 block w-full px-4 py-4 hover:bg-gray-3 text-center;
}

.submenu-element-mobile {
  @apply w-full border-b;

  .menu__bar-element--link {
    @apply w-full justify-start pl-8 py-2 font-normal;
  }
}

.menu__bar-actions {
  @apply block right-56 absolute;

  .menu-link {
    @apply border-black text-black;
  }
}

.mobile-menu {
  @apply relative left-0 w-full h-[calc(100vh-4rem)] bg-white z-50 shadow-lg overflow-auto;

  form {
    @apply flex justify-center gap-2;

    input {
      @apply bg-gray-3 rounded p-2;
    }
  }
}

.mobile-language {
  @apply flex justify-center bg-gray-3 border-b;
}

.dropdown-menu-account-mobile {
  @apply fixed top-32 left-0 right-0 h-[calc(100vh-8rem)] bg-white z-50 p-4 overflow-y-auto;

  > ul {
    @apply flex flex-col items-center space-y-6 mt-4;

    li > a {
      @apply text-2xl;
    }
  }
}

header {
  .main-bar {
    &__search {
      @apply hidden lg:block col-span-2 col-start-5 xl:col-start-4;
    }
  }
}

