.active-link {
  @apply underline decoration-2;
}

.active-locale {
  @apply underline decoration-2;
}

.menu-link {
  @apply hover:underline;
}

.menu__bar {
  @apply py-4 bg-white border-y hidden lg:block;
}

.menu__bar-element {
  @apply relative hidden sm:max-lg:hidden lg:inline self-center pl-4;
}

.menu__bar-mobile {
  @apply relative w-full;
}

.menu-element {
  @apply flex items-center gap-0.5 justify-center;
}

.menu-element-mobile {
  @apply flex items-center justify-between w-full h-12 text-3xl pl-4 border-b-2 border-background;
}

.menu-element-caret {
  @apply ml-2 p-px bg-gray-3 rounded border-2 border-gray-3;
}

.menu-element-caret-mobile {
  @apply h-[47px] w-[70px] rounded-none border-l-2 border-background flex items-center justify-center;
}

.caret {
  @apply w-6 h-6 flex-none text-black fill-current bg-gray-3;
}

.mobile-caret {
  @apply w-6 h-6;
}

.menu__bar-container {
  @apply flex flex-row gap-6;
}

.menu__bar-element--link {
  @apply text-black text-lg;
}

.menu__bar-submenu {
  @apply absolute mt-4 hidden min-w-[300px] z-50 bg-white border-t shadow-md left-0;

  .menu__bar-element--link{
    @apply px-px;
  }
}

.menu__bar-submenu-mobile {
  @apply hidden transition-all duration-300 overflow-hidden space-y-2;
}


.submenu-element {
  @apply list-none pl-0 block w-full px-4 py-4 hover:bg-gray-3 text-center;
}

.submenu-element-mobile {
  @apply w-full border-b;

  .menu__bar-element--link {
    @apply w-full justify-start pl-8 py-2 font-normal;
  }
}

.menu__bar-actions {
  @apply block right-56 absolute;

  .menu-link {
    @apply border-black text-black;
  }
}

.mobile-menu {
  @apply relative left-0 w-full h-[calc(100vh-4rem)] bg-white z-50 shadow-lg overflow-auto;

  form {
    @apply flex justify-center gap-2;

    input {
      @apply bg-gray-3 rounded p-2;
    }
  }
}

.toggle-mobile-menu {
  @apply relative flex flex-col justify-center items-center text-[--primary] font-bold text-sm;

  svg {
    @apply fill-[--primary];
  }
}

.mobile-language {
  @apply flex justify-center bg-background;
}

.mobile-search-container {
  @apply py-6 px-4;

  form {
    @apply rounded-none border bg-white h-10;
  }

  button[type=submit] {
    @apply w-10 h-10 top-0 right-0 bg-secondary text-white border-l border-black;

    svg {
      @apply inline fill-white;
    }
  }

  #input-search {
    @apply w-full bg-white;
  }
}

.mobile-search {
  @apply text-xl font-bold;
}

.dropdown-menu-account-mobile {
  @apply fixed left-0 right-0 h-[calc(100vh-4rem)] bg-white z-50 overflow-y-auto border-t-2;

  > ul {
    @apply flex flex-col items-start gap-4 pt-4;

    li {
      @apply border-b-2 border-background w-full pb-4;

      a {
        @apply text-xl font-bold pl-5;

        svg {
          @apply h-6 w-6 fill-[--primary];
        }
      }
    }
  }
}

header {
  .main-bar {
    &__search {
      @apply hidden lg:block col-span-2 col-start-5 xl:col-start-4;
    }

    &__logo {
      @apply flex flex-col items-center justify-center max-[449px]:col-span-7 max-[470px]:col-span-6 max-[539px]:col-span-5 col-span-4 sm:col-span-3 lg:flex-row lg:justify-start lg:gap-8 lg:col-span-5 xl:col-span-4;
    }

    &__dropdown-trigger {
      @apply px-0;
    }

    &__links-desktop__item {
      @apply px-0;
    }
  }
}

// .main-bar__dropdown-trigger {
//   @apply w-[50px] h-[64px];
// }

.simple-locales-container {
  .locale {
    @apply text-[--primary];
  }
}

#mobile-buttons {
  .main-bar__links-desktop__item {
    svg {
      @apply h-8 w-8 fill-[--primary];

      & + span {
        @apply text-xs font-bold;
      }
    }
  }
}


header {
  .main-bar {
    &__links-desktop,
    > *:last-child {
      @apply col-start-8;
    }
  }
}
