.active-link {
  @apply underline decoration-2;
}

.active-locale {
  @apply underline decoration-2;
}

.menu-link {
  @apply hover:underline;
}

.menu__bar {
  @apply block py-4 bg-white border-y;
}

.menu__bar-container {
  @apply flex flex-row gap-6 ml-4;
}

.menu__bar-element--link {
  @apply text-black text-lg;
}

.menu__bar-submenu {
  @apply absolute left-0 top-full hidden min-w-[200px] z-50 bg-white border p-2 shadow-md group-hover:block group-focus-within:block;

  .menu__bar-element--link{
    @apply px-px;
  }
}

.menu-bar__actions {
  @apply block right-4 absolute;

  .menu-link {
    @apply border-black text-black;
  }
}
