.active-link {
  @apply underline;

  &::after {
    @apply content-[""] absolute left-0 bottom-0 w-full h-0.5 bg-primary;
  }
}

.active-locale {
  @apply underline;
}

.menu-link {
  @apply hover:underline;
}

.menu__bar {
  @apply min-h-[3.41rem] bg-white border-y hidden lg:block border-y-2 border-gray-3;

  &-container {
    @apply justify-center;
  }

  &-element--link {
    @apply text-[--primary] text-xl;
  }

  &-mobile {
    a {
      @apply w-full justify-start text-left text-xl font-bold;
    }
  }
}

.menu__bar-element {
  @apply relative hidden sm:max-lg:hidden lg:inline self-center;
}

.menu__bar-mobile {
  @apply relative w-full;
}

.menu-element {
  @apply relative flex items-center gap-0.5 justify-center;
}

.menu-element-mobile {
  @apply flex items-center justify-between w-full h-12 text-3xl border-b-2 border-background;

  .menu-element-caret {
    @apply relative top-0 right-0 mt-0 h-[47px] w-[70px] rounded-none border-l-2 border-background flex items-center justify-center;
  }
}

.menu-element-caret {
  @apply absolute right-7 top-[50%] mt-[-0.7em];

  &[aria-expanded="true"] {
    @apply rotate-180;
  }

  svg {
    @apply bg-transparent text-[--primary];
  }
}

.caret {
  @apply w-6 h-6 flex-none text-black fill-current bg-gray-3;
}

.mobile-caret {
  @apply w-6 h-6;
}

.menu__bar-container {
  @apply flex flex-row gap-7;
}

.menu__bar-element--link {
  @apply pt-[0.75rem] pb-[0.7rem] px-8 my-1 text-primary text-lg;

  &:hover {
    &::after {
      @apply content-[""] absolute left-0 bottom-0 w-full h-0.5 bg-primary;
    }
  }
}

.menu__bar-element[data-submenu="true"] {
  & > .menu-element > .menu__bar-element--link {
    // 8 for the link itself + 6 for the caret
    @apply pr-14;
  }
}

.menu__bar-submenu {
  @apply absolute hidden min-w-[300px] z-50 bg-white border-t shadow-md left-0;

  &[data-state="open"] {
    @apply block;
  }

  .menu__bar-element--link {
    @apply px-px;
  }
}

.menu__bar-submenu-mobile {
  @apply hidden transition-all duration-300 overflow-hidden;

  &[data-state="open"] {
    @apply block;
  }
}


.submenu-element {
  @apply relative list-none pl-0 block w-full hover:bg-gray-3 text-center;

  .button {
    @apply p-4;
  }
}

.submenu-element-mobile {
  @apply w-full border-b;

  .menu__bar-element--link {
    @apply w-full justify-start px-8 py-2 font-normal;
  }
}

.menu__bar-actions {
  @apply block right-56 absolute;

  .menu-link {
    @apply border-black text-black;
  }
}

.mobile-menu {
  @apply hidden relative left-0 w-full h-[calc(100vh-4rem)] bg-white z-50 shadow-lg overflow-auto;

  form {
    @apply flex justify-center;

    input {
      @apply grow rounded p-2;
    }
  }
}

.toggle-mobile-menu {
  @apply relative flex flex-col justify-center items-center text-[--primary] font-bold;

  svg {
    @apply fill-[--primary];
  }
}

.mobile-language {
  @apply flex justify-center bg-background;
}

.mobile-search-container {
  @apply py-6 px-4;

  form {
    @apply rounded-none border bg-white h-10;
  }

  button[type=submit] {
    @apply w-10 h-10 top-0 right-0 bg-secondary text-white border-l border-black;

    svg {
      @apply inline fill-white;
    }
  }

  #input-search {
    @apply w-full bg-white;
  }
}

.mobile-search {
  @apply text-xl font-bold;
}

.dropdown-menu-account-mobile {
  @apply hidden relative left-0 right-0 h-[calc(100vh-4rem)] bg-white z-50 overflow-y-auto;

  > ul {
    @apply flex flex-col items-start gap-4 pt-4;

    li {
      @apply border-b-2 border-background w-full pb-4;

      a {
        @apply text-xl font-bold pl-5;

        svg {
          @apply h-6 w-6 fill-[--primary];
        }
      }
    }
  }
}

header {
  .main-bar {
    &__search {
      @apply hidden lg:block col-span-2 col-start-5 xl:col-start-4;
    }

    &__logo {
      @apply flex flex-col items-center justify-center max-[449px]:col-span-7 max-[470px]:col-span-6 max-[539px]:col-span-5 col-span-4 sm:col-span-3 lg:flex-row lg:justify-start lg:gap-8 lg:col-span-5 xl:col-span-4;
    }

    &__dropdown-trigger {
      @apply px-0;
    }

    &__links-desktop__item {
      @apply px-0 text-center;
    }
  }
}

.simple-locales-container {
  .locale {
    @apply text-[--primary];
  }
}

#mobile-buttons {
  .toggle-mobile-menu,
  .main-bar__links-desktop__item {
    @apply md:text-xs font-bold;
  }

  .main-bar__links-desktop__item,
  .toggle-mobile-menu {
    svg {
      @apply h-8 w-8 fill-[--primary];
    }
  }

  button {
    .mobile-account-label,
    .mobile-menu-label {
      @apply block;
    }

    [data-state="active"] {
      @apply hidden;
    }
  }
}

header[data-navbar-active] {
  @apply fixed z-[9999] top-0 bottom-0 left-0 right-0 bg-white;

  #admin-bar {
    @apply hidden;
  }
}

header[data-navbar-active="mobile-menu"] {
  .mobile-menu {
    @apply block lg:hidden;
  }

  #mobile-buttons {
    button[data-navbar-toggle="mobile-menu"] {
      [data-state="inactive"] {
        @apply hidden;
      }

      [data-state="active"] {
        @apply block;
      }
    }
  }
}

header[data-navbar-active="mobile-account-menu"] {
  .dropdown-menu-account-mobile {
    @apply block lg:hidden;
  }

  #mobile-buttons {
    button[data-navbar-toggle="mobile-account-menu"] {
      .main-bar__notification {
        @apply invisible;
      }

      [data-state="inactive"] {
        @apply hidden;
      }

      [data-state="active"] {
        @apply block;
      }
    }
  }
}
