<%
current_children = children[link.id]
%>

<%= link_to translated_attribute(link.href), target: link.target.presence do %>
  <span><%= translated_attribute(link.title) %></span>
<% end %>

<% if current_children.present? %>
  <%= render partial: "decidim/nav/shared/action_panel_link", collection: current_children, as: :link, locals: { children: children } %>
<% end %>
