<%
current_children = children[link.id]
%>

<%= content_tag(:div, class: ("menu__bar-element relative group")) do %>
  <%= link_to translated_attribute(link.href), target: link.target.presence, class: ("button button__text menu__bar-element--link") do %>
    <span><%= translated_attribute(link.title) %></span>
  <% end %>

  <% if current_children.present? %>
    <div class="menu__bar-submenu">
      <%= render partial: "decidim/nav/shared/action_panel_link", collection: current_children, as: :link, locals: { children: children } %>
    </div>
  <% end %>
<% end %>
